[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/googlee58db57d7d65468f.html"
  to = "/googlee58db57d7d65468f.html"
  status = 200
  force = false

[[redirects]]
  from = "/sitemap.xml"
  to = "/sitemap.xml"
  status = 200
  force = false

[[redirects]]
  from = "/robots.txt"
  to = "/robots.txt"
  status = 200
  force = false

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "18"
